<div class='main-nav'>
    <div class='navbar navbar-inverse navbar-fixed-top'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand logolink' [routerLink]="['/home']"><img src="/img/icons/logo/logo_white_40x40.svg" alt="logo" /></a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a pageScroll [routerLink]="['home']" href="#experience" >
                        <span class='glyphicon glyphicon-education'></span> Experience
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a pageScroll [routerLink]="['home']" href="#about" >
                        <span class='fa fa-id-badge'></span> About
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/contact']">
                        <span class='fa fa-address-book'></span> Contact
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>