<div class="flex-container">
    <article class="flex-inner first">
        <div class="content-block gmi">
            <div class="overlay">
                <div class="block-content">
                    <div class="block-title">General Mills</div>
                    <a class="block-button searchbychar" href="#generalmills" data-target="intro">View Experience</a>
                    <div class="block-subtitle">Fortune 100</div>
                </div>
            </div>
        </div>
    </article>
    <article class="flex-inner second">
        <div class="content-block sparkstarter">
            <div class="overlay">
                <div class="block-content">
                    <div class="block-title">SparkStarter</div>
                    <a class="block-button searchbychar" href="#sparkstarter" data-target="intro">View Experience</a>
                    <div class="block-subtitle">Mobile Startup</div>
                </div>
            </div>
        </div>
    </article>
</div>