<div class="flex-container">
    <article *ngFor="let experience of experiences" class="flex-inner">
        <div class="content-block" [ngClass]="experience.className">
            <div class="overlay">
                <div class="block-content">
                    <div class="block-title">{{ experience.title }}</div>
                    <a class="block-button searchbychar" href="#" [routerLink]="experience.route">View Experience</a>
                    <div class="block-subtitle">{{ experience.subtitle }}</div>
                </div>
            </div>
        </div>
    </article>
</div>