/* ============================================================
  Navigation Bar
============================================================ */
@media (max-width: 600px) {
    .navbar-desktop {
        display: none;
    }

    .navbar-mobile {
        display: block;

        .logolink {
            padding-top: 10px;
        }
    }
}