<div class="container">
    <h2>A bit about me</h2>
    <p>
        I graduated from the Carlson School of Management in 2013 with a double major in MIS and Finance
        after growing up in snowy Minnesota. So naturally, I got the itch to travel and recently moved out to sunny San Diego.
    </p>
    <p>
        Being a nerd at heart, I continue to spend much of my free time checking out the
        latest gadgets in both real world applications and virtual ones. If you haven't seen it already,
        I recommend checking out Microsoft's augmented reality headset the HoloLens
        - real life Yu-Gi-Oh here we come!
    </p>
    <p>
        Last but not least, I love food! My general rule of thumb with food is try everything once.
        Yes, it has gotten me into trouble but you only live once right? Check out some of my favorites below!
    </p>
    <div class="row">

    </div>
</div>