<main id="gehealthcare">
    <section class="module parallax">
        <div class="container">
            <div class="right-col">
                <h1>GE Healthcare</h1>
            </div>
        </div>
    </section>
    <section class="module content">
        <div class="container">
            <h2>General Electric</h2>
            <p>
                In 2017 I decided to start a new chapter after moving to sunny San Diego. Once there, 
                I began work at small company turned big, API Healthcare; now GE Healthcare.
            </p>
            <p>
                Because my life isn't hectic enough, I'm also on the recruiting and code camp committee at GMI. And of course, volunteering
                is considered to be part of the General Mills life so I've seen my fair share of Feed My Starving Children.
            </p>
            <h3>Technical stack</h3>
            <p>C#, .NET, Angular 2.0, Azure, Ionic</p>
        </div>
    </section>
</main>