<main id="gehealthcare">
    <section id="intro" class="module parallax parallax-gehealthcare">
        <div class="container">
            <div class="right-col">
                <h1>GE Healthcare</h1>
            </div>
        </div>
    </section>
    <section class="module content">
        <div class="container">
            <h2>General Electric</h2>
            <p>
                
            </p>
            <p>
                Working at a fortune 100, I have also quickly learned to work in large teams in both agile and
                traditional SDLC application development.
            </p>
            <p>
                Because my life isn't hectic enough, I'm also on the recruiting and code camp committee at GMI. And of course, volunteering
                is considered to be part of the General Mills life so I've seen my fair share of Feed My Starving Children.
            </p>
            <h3>Technical exprience</h3>
            <p>C#, .NET, KnockoutJS, LESS, Oracle, SQL, HTML, CSS</p>
        </div>
    </section>
</main>